@font-face {
  font-family: "Arapey";
  src: url("./fonts/Arapey-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arapey";
  src: url("./fonts/Arapey-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Milker";
  src: url("./fonts/Milker.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wasted Vindey";
  src: url("./fonts/Wasted-Vindey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
